$background-color:#F8F8FC;
$title-color: #58506B;
$separator: #FAF9FD;
$white: #FFFFFF;
$degrade-blue: linear-gradient(180deg, rgb(84, 209, 237) 20%, rgba(44, 82, 216,0.7) 100%);
$success: #41CF69;
$success-soft: #E4FFEE;
$blue: #54D1ED;




